{% extends "base.html" %}
{% block content %}
{% for brand in brands %}
<div class="row mt-4">
    <div class="col-4">
        <h2>{{brand.name}}</h2>
        <h6>Nit: {{brand.nit}}</h6>
    </div>
    <div class="col-4">
        <form action="javascript:massive_upload({{brand.id}})">
            <div class="row">
                <div class="col-8">
                    <label for="excel">Excel</label>
                    <input id="excel_{{brand.id}}" type="file" name="excel">
                </div>
                <div class="col-4">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <form action="javascript:set_brand_visibility({{brand.id}})">
            <input type="checkbox" value="Visible" id="visibility_{{brand.id}}">
            <input type="submit" value="Set visibility">
        </form>
    </div>
</div>
<hr>
{% endfor %}
{% if is_superuser %}
<form action="javascript:post('/api/v1/user/brand/update_files/')">
    <input type="submit" value="Actualizar archivos">
</form>
{% endif %}

<script>
    function post(endpoint) {
        fetch(endpoint, {
            method: 'POST', headers: {
                "X-CSRFToken": get_cookie("csrftoken"),
            }
        }).then((response) => {
            alert(response.status)
        });
    }

    function set_brand_visibility(id){
        let data = new FormData()
        const visibility = document.getElementById("visibility_" + id).checked;
        data.append('brand_id', id);
        data.append('visibility', visibility);
        fetch("/api/v1/user/brand/set_brand_visibility/", {
            method: 'POST',
            body: data,
            headers: {
                "X-CSRFToken": get_cookie("csrftoken"),
            }
        }).then((response) => {
            if (response.status == 200) {
                alert('Working on it');
            } else {
                alert('Something went wrong');
            }
        })
    }

    function massive_upload(id) {
        let data = new FormData()
        const excel = document.getElementById("excel_" + id).files[0];
        // const photos = document.getElementById("photos_" + id).files[0];
        data.append('excel', excel);
        // data.append('photos', photos);
        data.append('brand_id', id);
        fetch("/api/v1/user/brand/massive_upload/", {
            method: 'POST',
            body: data,
            headers: {
                "X-CSRFToken": get_cookie("csrftoken"),
            }
        }).then((response) => {
            if (response.status == 200) {
                alert('Uploaded successfully');
            } else {
                alert('Something went wrong');
            }
        })
    }
</script>
{% endblock content %}