{% extends "base.html" %}
{% block content %}
<h1>Items</h1>
{% if is_superuser %}
<div class="row">
    Filtrar por marca:
    {% for brand in brand_names %}
    <a type="button" class="btn btn-primary mx-2" href="products?q={{brand}}">{{brand}}</a>
    {% endfor %}
</div>
{% endif %}
<h2>{{products.0.brand}} - ({{count}})</h2>
<div class="row">
    {% for product in products %}
    <div class="col-4">
        <h4>
            {{product.name}}
        </h4>
        <img class="active-{{product.active}}" src="{{product.images.0}}" style="width: inherit">
        <div class="row mx-2 prices">
            <p>
                Precio: {{product.price}}
            </p>
            {% if product.sale %}
            <p class="ml-2">
                Antes:
            </p>
            <div class="pb">
                {{product.price_before}}
                <div class="price_before">
                </div>
            </div>
            {% endif %}
        </div>
        {{product.description}}
        <div class="row">
            <form class="p-2" action="{{product.url}}" target="_blank">
                <input class="btn btn-primary" type="submit" value="Ir a la tienda">
            </form>
            <form class="p-2" action="javascript:post('/api/v1/crawler/process/activate_product/', {{product.id}})">
                <input class="btn btn-warning" type="submit" value="Habilitar/Deshabilitar">
            </form>
            <form class="p-2"
                  action="javascript:post('/api/v1/crawler/process/update_product_meta/', '{{product.url}}')">
                <input class="btn btn-secondary" type="submit" value="Actualizar metadata" data-toggle="tooltip"
                       data-placement="bottom" title="{{product.meta}}">
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function post(endpoint, brand) {
        fetch(endpoint, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": get_cookie("csrftoken"),
            },
            body: JSON.stringify({'brand': brand})
        }).then(response => response.json()).then((result) => {
            alert(result.status);
        })
    }
</script>

<style>
    .prices {
        font-size: 20px;
        font-weight: 600;
    }

    .prices .price_before {
        color: #cf1800;
        border-top: 2px solid rgba(207, 24, 0, 0.99);
        bottom: 0;
        transform: rotate(-7deg) translate(2px, -17px);
    }

    img.active-False {
        filter: grayscale(1);
        border: 5px dashed;
        cursor: not-allowed;
    }
</style>
{% endblock content %}