{% extends "base.html" %}
{% block content %}
<h1>Items</h1>
{% if is_superuser %}
<div class="row">
    Filtrar por marca:
    {% for brand in brand_names %}
    <a type="button" class="btn btn-primary mx-2" href="products?q={{brand}}">{{brand}}</a>
    {% endfor %}
</div>
{% endif %}
<h2>{{products.0.brand}} - ({{count}})</h2>
<div class="row">
    {% for product in products %}
    <div class="col-4">
        <h4>
            {{product.name}}
        </h4>
        <img class="active-{{product.active}}" src="{{product.images.0}}" style="width: inherit">
        <div class="row mx-2 prices">
            <p>
                Precio: {{product.price}}
            </p>
            {% if product.sale %}
            <p class="ml-2">
                Antes:
            </p>
            <div class="pb">
                {{product.price_before}}
                <div class="price_before">
                </div>
            </div>
            {% endif %}
        </div>
        {{product.description}}
        <div class="row">
            <form class="p-2" action="{{product.url}}" target="_blank">
                <input class="btn btn-primary" type="submit" value="Ir a la tienda">
            </form>
            <form class="p-2" action="javascript:post('/api/v1/crawler/process/activate_product/', {{product.id}})">
                <input class="btn btn-warning" type="submit" value="Habilitar/Deshabilitar">
            </form>
            <form class="p-2"
                  action="javascript:post('/api/v1/crawler/process/update_product_meta/', '{{product.url}}')">
                <input class="btn btn-secondary" type="submit" value="Actualizar metadata" data-toggle="tooltip"
                       data-placement="bottom" title="{{product.meta}}">
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="row" style="width: 100%; justify-content: center">
        <ul class="pagination modal-5">
            {% for p in pages %}
            {% if p == page %}
            <li><a class="active" href="{{url}}{{p}}">{{p}}</a></li>
            {% else %}
            <li><a href="{{url}}{{p}}">{{p}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="row" style="width: 100%; justify-content: center">
        <p>Mostrando {{page_size}} de {{count}}</p>
    </div>
</div>

<script>
    function post(endpoint, brand) {
        fetch(endpoint, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": get_cookie("csrftoken"),
            },
            body: JSON.stringify({'brand': brand})
        }).then(response => response.json()).then((result) => {
            alert(result.status);
        })
    }
</script>

<style>
    .prices {
        font-size: 20px;
        font-weight: 600;
    }

    .prices .price_before {
        color: #cf1800;
        border-top: 2px solid rgba(207, 24, 0, 0.99);
        bottom: 0;
        transform: rotate(-7deg) translate(2px, -17px);
    }

    img.active-False {
        filter: grayscale(1);
        border: 5px dashed;
        cursor: not-allowed;
    }

    .pagination {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 10px;
    }

    .pagination li {
        display: inline;
        text-align: center;
    }

    .pagination a {
        float: left;
        display: block;
        font-size: 14px;
        text-decoration: none;
        padding: 5px 12px;
        color: #fff;
        margin-left: -1px;
        border: 1px solid transparent;
        line-height: 1.5;
    }

    .pagination a.active {
        cursor: default;
    }

    .pagination a:active {
        outline: none;
    }

    .modal-5 {
        position: relative;
    }

    .modal-5:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 35px;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-image: -moz-linear-gradient(left, rgba(0, 90, 190, 0) 0%, rgba(0, 90, 190, 0.75) 20%, rgb(0, 90, 190) 50%, rgba(0, 90, 190, 0.75) 80%, rgba(0, 90, 190, 0) 100%);
        background-image: -webkit-linear-gradient(left, rgba(0, 90, 190, 0) 0%, rgba(0, 90, 190, 0.75) 20%, rgb(0, 90, 190) 50%, rgba(0, 90, 190, 0.75) 80%, rgba(0, 90, 190, 0) 100%);
        background-image: linear-gradient(to right, rgba(0, 90, 190, 0) 0%, rgba(0, 90, 190, 0.75) 20%, rgb(0, 90, 190) 50%, rgba(0, 90, 190, 0.75) 80%, rgba(0, 90, 190, 0) 100%);
    }

    .modal-5 a {
        color: #ddd;
        padding: 13px 5px 5px;
        margin: 0 10px;
        position: relative;
    }

    .modal-5 a:hover {
        color: #fff;
    }

    .modal-5 a:hover:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: #1E7EE2;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        z-index: -1;
        left: -3px;
        bottom: 4px;
        margin: auto;
    }

    .modal-5 a.next, .modal-5 a.prev {
        color: #1E7EE2;
    }

    .modal-5 a.next:hover, .modal-5 a.prev:hover {
        color: #fff;
    }

    .modal-5 a.next:hover:after, .modal-5 a.prev:hover:after {
        display: none;
    }

    .modal-5 a.active {
        background: #1E7EE2;
        color: #fff;
    }

    .modal-5 a.active:before {
        content: '';
        position: absolute;
        top: -11px;
        left: -10px;
        width: 18px;
        border: 10px solid transparent;
        border-bottom: 7px solid #104477;
        z-index: -1;
    }

    .modal-5 a.active:hover:after {
        display: none;
    }
</style>
{% endblock content %}